@import "../../styles/colors.config.css";
@import "../../styles/font-sizes.config.css";
@import "../../styles/utils.config.css";
@import "../../styles/offsets.config.css";

.button {
    border: none;
    border-radius: var(--border-radius-lg);
    cursor: pointer;
    font-weight: 600;
    padding: var(--offset-sm) var(--offset-lg);
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--border-color-focus);
}

.disabled {
    opacity: 0.5;
}

.wide {
    display: block;
    width: 100%;
}

.sizeLg {
    font-size: var(--font-size-lg);
}

.sizeMd {
    font-size: var(--font-size-md);
}

.sizeSm {
    font-size: var(--font-size-sm);
}

.kindNormal {
    background-color: var(--color-green);
}

.kindNormal:hover {
    background-color: var(--border-color-focus);
}

.kindDanger {
    background-color: var(--color-red);
    box-shadow: inset 0 0 0 2px var(--border-color-focus-danger);
}

.kindDanger:hover {
    box-shadow: inset 0 0 0 2px var(--border-color-focus-danger);
}
